<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doris.nflow.engine.flow.deployment.mapper.FlowDeploymentMapper">
    <resultMap id="BaseResultMap" type="com.doris.nflow.engine.flow.deployment.model.FlowDeployment">
        <result column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="operator" property="operator"/>
        <result column="caller" property="caller"/>
        <result column="archive" property="archive"/>
        <result column="remark" property="remark"/>
        <result column="flow_name" property="flowName"/>
        <result column="flow_module_code" property="flowModuleCode"/>
        <result column="status" property="status"/>
        <result column="content" property="content"/>
        <result column="flow_deploy_code" property="flowDeployCode"/>
        <result column="flow_module" property="flowModule" typeHandler="com.doris.nflow.engine.common.handler.BaseNodeHandler"/>
    </resultMap>
    <select id="queryList" resultMap="BaseResultMap">
        select * from fw_flow_deployment
        where archive = 0
        <if test='query.search != null and query.search != ""'>
            and (remark like concat('%',#{query.search},'%')
                or flow_name like concat('%',#{query.search},'%'))
        </if>
        <if test='query.status != null and query.status != ""'>
            and status = #{query.status}
        </if>
        <if test='query.flowModuleCode != null and query.flowModuleCode != ""'>
            and flow_module_code = #{query.flowModuleCode}
        </if>
    </select>


</mapper>
