<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doris.nflow.engine.node.instance.mapper.NodeInstanceMapper">
    <resultMap id="BaseResultMap" type="com.doris.nflow.engine.node.instance.model.NodeInstance">
        <result column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="operator" property="operator"/>
        <result column="tenant" property="tenant"/>
        <result column="tenant_code" property="tenantCode"/>
        <result column="caller" property="caller"/>
        <result column="archive" property="archive"/>
        <result column="remark" property="remark"/>
        <result column="node_instance_code" property="nodeInstanceCode"/>
        <result column="source_node_instance_code" property="sourceNodeInstanceCode"/>
        <result column="instance_data_code" property="instanceDataCode"/>
        <result column="node_code" property="nodeCode"/>
        <result column="source_node_code" property="sourceNodeCode"/>
        <result column="flow_instance_code" property="flowInstanceCode"/>
        <result column="flow_deploy_code" property="flowDeployCode"/>
        <result column="status" property="status"/>
    </resultMap>
    <insert id="replace">
        replace into node_instance(id, create_time,modify_time,operator,tenant,tenant_code,caller,
           archive,archive,remark,node_instance_code,source_node_instance_code,instance_data_code,node_code
           source_node_code,flow_instance_code,flow_deploy_code,status)
            values
            <foreach collection="list" separator="," item="param" close="" open="" >
                (#{param.id}, #{param.createTime},#{param.modifyTime},#{param.operator},#{param.tenant},#{param.tenantCode},#{param.caller},
                #{param.archive},#{param.remark},#{param.nodeInstanceCode},#{param.sourceNodeInstanceCode},#{param.instanceDataCode},#{param.nodeCode},
                #{param.sourceNodeCode},#{param.flowInstanceCode},#{param.flowDeployCode},#{param.status})
            </foreach>
            ;
    </insert>
    <select id="queryList" resultMap="BaseResultMap" parameterType="com.doris.nflow.engine.node.instance.model.NodeInstanceQuery">
        select * from node_instance
        where archive = 0
        <if test='search != null and search != ""'>
            and (remark like concat('%',#{search},'%'))
        </if>
        <if test='status != null and status != ""'>
            and status = #{status}
        </if>
        <if test='nodeInstanceCode != null and nodeInstanceCode != ""'>
            and node_instance_code = #{nodeInstanceCode}
        </if>
        <if test='nodeCode != null and nodeCode != ""'>
            and node_code = #{nodeCode}
        </if>
        <if test='flowDeployCode != null and flowDeployCode != ""'>
            and flow_deploy_code = #{flowDeployCode}
        </if>
        <if test='flowInstanceCode != null and flowInstanceCode != ""'>
            and flow_instance_code = #{flowInstanceCode}
        </if>
    </select>
    <select id="detailBySourceInstanceCode" resultMap="BaseResultMap">
        select * from node_instance where archive = 0
        and flow_instance_code = #{flowInstanceCode}
        and source_instance_code = #{sourceInstanceCode}
        and node_code = #{nodeCode}
    </select>


</mapper>
