<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doris.nflow.engine.node.instance.mapper.NodeInstanceMapper">
    <resultMap id="BaseResultMap" type="com.doris.nflow.engine.node.instance.model.NodeInstance">
        <result column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="operator" property="operator"/>
        <result column="tenant" property="tenant"/>
        <result column="tenant_code" property="tenantCode"/>
        <result column="caller" property="caller"/>
        <result column="archive" property="archive"/>
        <result column="remark" property="remark"/>
        <result column="node_instance_code" property="nodeInstanceCode"/>
        <result column="source_node_instance_code" property="sourceNodeInstanceCode"/>
        <result column="instance_data_code" property="instanceDataCode"/>
        <result column="node_code" property="nodeCode"/>
        <result column="source_node_code" property="sourceNodeCode"/>
        <result column="flow_instance_code" property="flowInstanceCode"/>
        <result column="flow_deploy_code" property="flowDeployCode"/>
        <result column="status" property="status"/>
    </resultMap>
    <select id="queryList" resultMap="BaseResultMap" parameterType="com.doris.nflow.engine.node.instance.model.NodeInstanceQuery">
        select * from node_instance
        where archive = 0
        <if test='search != null and search != ""'>
            and (remark like concat('%',#{search},'%'))
        </if>
        <if test='status != null and status != ""'>
            and status = #{status}
        </if>
        <if test='nodeInstanceCode != null and nodeInstanceCode != ""'>
            and node_instance_code = #{nodeInstanceCode}
        </if>
        <if test='nodeCode != null and nodeCode != ""'>
            and node_code = #{nodeCode}
        </if>
        <if test='flowDeployCode != null and flowDeployCode != ""'>
            and flow_deploy_code = #{flowDeployCode}
        </if>
        <if test='flowInstanceCode != null and flowInstanceCode != ""'>
            and flow_instance_code = #{flowInstanceCode}
        </if>
    </select>


</mapper>
